<!DOCTYPE html>
html(lang="en" ng-app="TestApp")
    head
        meta(charset="UTF-8")
        title The MEAN Stack
        script(src="/bower/angular/angular.js", charset="utf-8")
    body(ng-controller="MainController as Main ")
        .list
            ul
                li(ng-repeat="person in Main.people")
                    {{ person.name }}
        script.
            var clientPeople = !{JSON.stringify(serverPeople)};
        script(src="/assets/js/app.js", charset="utf-8")


    
